body{
	height: 100vh;
	width: 100vw;
	background-image: url(4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;

}
.div1{
	height: 100vh;
	width: 50vw;
/*	background-color: #FFBF00;*/
    border:2px solid #72582c;
	background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(60,60,60));
	text-align: center;
	transform: translateX(50%);

}	
h2{
	font-size: 20px;
	font-style: Arial Black;
}

h1{
	font-size: 30px;
	font-style: Arial Black;
}

.div2{
	background-color:  #d9d9d9;
	height: 10%;
	width: 63%;
	border:2px solid black;
	padding: 5%;
	margin-top:5%;
	margin-right: 10%;
	transform: translateX(21%);
}

.div3{
	width: 100%;
/*	transform: translateX(-300px);*/
}

/*.lbl1{
	height:100px;
    transform: translateX(700%);
	margin-top: 5%;
	border-color: transparent;

}
*/
.input0{
	height:40%;
	margin-right: 50%;
	margin-top: 2%;
	border-color: transparent;
	border-bottom:2px solid black;
	outline: none;


}
.lbl2{
	height:100%;
	margin-right: 40%;
	margin-top: 1%;


}


.input1{
	height:5%;
	width: 15%;
	margin-right: 24%;
	margin-top: 2%;
	border:2px solid black;


}
/*.lbl{
	transform: translateX(30px);
}*/

.input2{
	height:25vh;
	width: 100%;
	border:1px solid #72582c;
	outline: none;



}

.div3{
	background-color:   #d9d9d9;
	height: 25%;
	width: 63%;
	border:2.5px solid black;
	padding: 5%;
	transform: translateX(20%);
}
h3{
	transform: translate(-40px,15px);


}

.submit{
	margin-top:0.5%;
	height: 3%;
	color: white;
	background: white;
    animation: mymove 5s infinite;
}
@keyframes mymove {
  from {background-color: dimgray;}
  to {background-color: red;}
}
